extends ../_component/layout/base

block awesome-content
  +intro(data['mentorship-explained'])

  h1 A few or the students make £150,000 per year
  p Most of the students make £150,000 or more in their first 3 years on the job
  h2 What would £150,000 in revenue do for you?
  h2 Would you like to be in the position of breaking £1,000,000 every 5 to 10 years?
  ul 
    li you can stop paying rent 
    li you can buy from the cheapest to the most expensive electric car that goes from zero to 60mph in less than 2 seconds 
    li you can travel the world 
    li you can start safetly and securely a family 
    li you can finally stop working in a bad 9 to 5
    li you can start your own business in time 
    li you can mix and match and come up with your own

  h1.membership-h1 In how many months do you see yourself getting hired?
  p You only need to sustain an invesment of the starting fee and the number of months till you get hired.

  h1.membership-h1 As soon as you get hired, 3 things happen to you 
  ol
    li The mentoshrip cost pays for itself 
    li You revover 100% of your investment 
    li You make a crazy amount of profit



  table.table__smart
    thead
      tr
        td.table__cell(colspan="2") 
          p The total cost of the "From Zero to Hired" is twenty thousand pounds (£20,000), which is broken down into:
          ul
            li £2,000 to be paid when you join
            li £18,000 to be paid in monthly installments
    tbody
      tr
        td.table__sub-title Nightly Get Hired Academy
        td.table__sub-title Daily Get Hired Academy
      tr
        td.table__sub-title(width="50%")
          div 12 spots left
          div (out of 25)
        td.table__sub-title(colspan="2")
          div 0 spots left
          div (out of 10)
      tr
        td.table__cell(colspan="2") Weekly required hours
      tr
        td.table__sub-title 10+
        td.table__sub-title 30+
      tr
        td.table__cell(colspan="2") Access to mentors and mentor assistants
      tr
        td.table__sub-title
          ul 
            li Mentor one day per week#[sup 1)]
            li Mentor assistant every day#[sup 2)]
        td.table__sub-title
          ul 
            li Mentor every day#[sup 3)]
    tbody
      tr
        td.table__cell(colspan="2") Pay when you join
      tr
        td.table__cell
          div £2,000 join fee = 
          div £1,000 (half) when you start + 
          div £1,000 (half) when you get hired or at month 12, whichever comes first
        td.table__cell
          div £2,000 join fee
      tr
        td.table__cell(colspan="2") Length of contract
      tr
        td.table__cell(colspan="2") pay £500 every month for 36 months if you get hired on less then £35,000 per year
      tr
        td.table__cell(colspan="2") if you start earning between £35,000 and £49,999 per year, you monthly bill will increase to £750
      tr
        td.table__cell(colspan="2") if you start earning more than £50,000 per year, you monthly bill will increase to £1,000
      tr
        td.table__sub-title(colspan="2") If you are willing to document your journey from Zero to Hired and create videos on social media with your progress, we are willing to offer sponsorship and help you pay your monthly membership fee
      tr
        td.table__cell(colspan="2")
          div we can pay through sponsorship up to #[b £250] of your bill
          div reducing the cost down to #[b £250]
      tr
        td.table__cell for up to two (2) years or when you get hired
        td.table__cell for up to one (1) year or when you get hired
      tr
        td.table__cell(colspan="2")
          h1 Sponsorship explained
          ul
            li each month you do one video with your mentor to summarize your experience in the past month, you will get all the weekly subscription values sumed up for that month and substracted from your next monthly bill
            li each week you do a video and post it public on your YouTube and Facebook account with your progress for that week, on Friday, Saturday or Sunday, will activate all your daily subscription values
            li each day you participate in our stand-up or post a video with your update, if you missed the stand-up, you will get your daily subscription value
      tr
        td.table__cell(colspan="2")
          h1 Notes explained
          ul
            li Mentor - Top most experienced mentors that are able to guide and help you in every aspect
            li Mentor one day per week - You will get the opportunity to ask for questions and guidance every single day 24/7. One day per week will be dedicated to Nightly Get Hired Academy Students, where questions that didn't find their answer during the week will be addressed first, followed by every single live question, on a first asked first answered basis
            li Mentor assistant - is the go to person when you need help and guidance every single time before reaching directly to a mentor. You want to start a friendly relationship with any mentor assistant to be accepted in his care and supervision.
            li Become a Mentor Assitant - Anyone can be promoted to mentor assistant after the first month of coding or any time later when you feel ready.
            li A Nightly Get Hired Academy member will be automatically promoted to Daily Get Hired Academy member once they get hired.
            li A Nightly Get Hired Academy member will be notified of new openings in the Daily Get Hired Academy before the openings will be made public.

          div you can activate your daily subscription values every single day of the month up to a maximum of 20 times during that month
          div the sponsorship is valid for up to 12 months (1 year) for Daily Get Hired Academy and for up to 24 months for the Nightly Get Hired Academy
