extends ../_component/layout/base

block awesome-content
  +intro(data['mentorship-explained'])

  h1 From Zero to Hired
  h2 Total Cost
  p The total cost of the "From Zero to Hired" is twenty thousand pounds (£20,000), which is broken down into:
  ul
    li £2,000 to be paid when you join
    li £18,000 to be paid in monthly installments

  table.table__smart
    thead
      tr
        td.table__cell.table__title(colspan="3") General Student Offer
      tr
        td.table__sub-title Bronze
        td.table__sub-title Silver
        td.table__sub-title Gold
    tbody
      tr
        td.table__cell(colspan="3") Pay when you join
      tr
        td.table__cell £2,000 join fee
        td.table__cell £2,000 join fee
        td.table__cell £2,000 join fee
      tr
        td.table__cell(colspan="3") Length of contract
      tr
        td.table__cell pay £500 every month for
        td.table__cell pay £750 every month for
        td.table__cell pay £1,000 every month for
      tr
        td.table__cell 36 months
        td.table__cell 24 months
        td.table__cell 18 months
      tr
        td.table__cell
          each n in [...Array(36).keys()]
            .price__disc--small £500
        td.table__cell
          each n in [...Array(24).keys()]
            .price__disc--normal £750
        td.table__cell
          each n in [...Array(18).keys()]
            .price__disc--big £1,000

  table.table__smart
    thead
      tr
        td.table__cell.table__title(colspan="3") Social Student Offer***
      tr
        td.table__sub-title Bronze
        td.table__sub-title Silver
        td.table__sub-title Gold
    tbody
      tr
        td.table__cell(colspan="3") Pay when you join
      tr
        td.table__cell
          div £2,000 join fee = 
          div £1,000 (half) when you start + 
          div £1,000 (half) when you get hired
          div (if you get hired in less than 6 months, we pay the second half for you)
        td.table__cell
          div £2,000 join fee = 
          div £1,000 when you start + 
          div £1,000 when you get hired
          div (if you get hired in less than 6 months, we pay the second half for you)
        td.table__cell
          div £2,000 join fee = 
          div £1,000 when you start + 
          div £1,000 when you get hired
          div (if you get hired in less than 6 months, we pay the second half for you)
      tr
        td.table__cell(colspan="3") Length of contract
      tr
        td.table__cell pay £500 every month for
        td.table__cell pay £750 every month for
        td.table__cell pay £1,000 every month for
      tr
        td.table__cell
          div we can pay through sponsorship up to 
          div £250 of your bill
          div reducing the cost 
          div down to £250
        td.table__cell
          div we can pay through sponsorship up to 
          div £500 of your bill
          div reducing the cost 
          div down to £250
        td.table__cell
          div we can pay through sponsorship up to 
          div £750 of your bill
          div reducing the cost 
          div down to £250
      tr
        td.table__cell you get £2,500 sponsorship
        td.table__cell you get £5,000 sponsorship
        td.table__cell you get £7,500 sponsorship
      tr
        td.table__cell 36 months
        td.table__cell 24 months
        td.table__cell 18 months
      tr
        td.table__cell
          each n in [...Array(36).keys()]
            .price__disc--small £500
        td.table__cell
          each n in [...Array(24).keys()]
            .price__disc--normal £750
        td.table__cell
          each n in [...Array(18).keys()]
            .price__disc--big £1,000
      tr
        td.table__cell
          div can reduce the total amount to be paid down to
          div
            h1 £16,500
        td.table__cell
          div can reduce the total amount to be paid down to
          div
            h1 £14,000
        td.table__cell
          div can reduce the total amount to be paid down to
          div
            h1 £11,500
      tr
        td.table__cell(colspan="3")
          h1 Sponsorship explained
          ul
            li each month you do one video with your mentor to summarize your experience in the past month, you will get all the weekly subscription values sumed up for that month and substracted from your next monthly bill
            li each week you do a video and post it public on your YouTube and Facebook account with your progress for that week, on Friday, Saturday or Sunday, will activate all your daily subscription values
            li each day you participate in our stand-up or post a video with your update, if you missed the stand-up, you will get your daily subscription value

          div you can activate your daily subscription values every single day of the month up to a maximum of 20 times during that month
          div the sponsorship is valid for 12 months (1 year)
          div the mentorship is on active priority for 12 months (1 year) or until you reach £50,000 per year or more



  h2 Sponsorship rules
  h2 If you already have skills, do you want the best help for you to get hired?
  p We are also in the process of recording over 100 lessons of all the tips, all the techniques, all the tricks, all the questions and answers, that mentors and students of CodeTap Academy have been using to generate job offer after job offer, hundreds of job offers ranging from £30,000 to £200,000.
  p We take the mentorship out as well as the journey where you gain fast skills and experience, and leave everything that related to gettin lots of calls, lots of interviews and more job offers.
  p All the content and processes presented in our course bundles have ben tested over and over, again and again. We promoted the ones that work and improved with every single experience we had, and we've turned this into science, the science of being in control of a continous job security, while reaching top 10% most well paid jobs in your niche.
  //- +textImage(data['fast-website'])
  //- +textImage(data['mentorship-program'])

  //- include _component/team/team
