doctype html
html(lang="en")
  head
    title Lower your bounce rate with a quick to load website
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(content="We build your website to load faster than you can blink or we teach you how to do it. Sounds great? Let's chat!" name="description")
    //- this checks to see the the "embed" property is set to "true"
    //- in the package.json file
    if config.entry.css.embed
      link(rel="stylesheet" href=`${embedPath}` embed)
  body
    include ../mixin/index
    block awesome-content
    //- The style.css is at the bottom so it doesn't
    //- block the loading of assets
    script(src=`${baseUrl}asset/js/image-observer.js`)
    if config.entry.css.external
      link(rel="stylesheet", href=`${baseUrl}style.css`)
