@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?2021yeey') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?2021yeey') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?2021yeey##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bb-"], [class*=" bb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bb-github {
  &:before {
    content: $bb-github; 
  }
}
.bb-linkedin {
  &:before {
    content: $bb-linkedin;     
    color: #0077b5;
  }
}

.bb-gmail {
  &:before {
    content: $bb-gmail;     
    color: #d14836;
  }
}
.bb-facebook {
  &:before {
    content: $bb-facebook;     
    color: #1877f2;
  }
}
.bb-youtube {
  &:before {
    content: $bb-youtube;     
    color: #f00;
  }
}
.bb-discord {
  &:before {
    content: $bb-discord;     
    color: #7289da;
  }
}

