$icomoon-font-family: "bitbee" !default;
$icomoon-font-path: "/asset/font" !default;

$bb-github: "\e904";
$bb-linkedin: "\e905";
$bb-gmail: "\e900";
$bb-facebook: "\e901";
$bb-youtube: "\e902";
$bb-discord: "\e903";
