.team
  padding: 1rem

  &__member-list
    display: grid
    grid-gap: 2.5rem

  &__title
    color: $color-revolver
    font-size: 48px
    font-family: 'Nunito', serif
    font-weight: bold
    text-align: center
    margin: 1rem auto 2rem

  &__member
    display: flex
    flex-direction: column
    align-items: center
    cursor: pointer

    &:hover .team__avatar
      transform: rotate(2.5deg) scale(1.05)

  &__name
    font-size: 23px
    font-weight: bold
    line-height: 1
    padding-top: 0.5rem
    font-family: 'Nunito', serif
    color: $color-revolver

  &__job
    font-size: 18px
    line-height: 1.5
    font-family: 'Nunito', serif
    color: $color-orange

  &__avatar
    width: 200px
    height: 200px
    background-size: 100%
    background-position: center center
    background-repeat: no-repeat
    border-radius: 50%
    transition: 250ms
