.intro {
  background: #00d4ff;
  background-image: radial-gradient(circle, #fff, #eefdff);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__welcome {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__you-get {
    font-size: 48px;
    color: #212529;
    text-transform: capitalize;
  }

  &__list-type {
    text-align: center;
    font-size: 24px;
    color: transparent;
    transition: 250ms;
  }

  &__you-get-list {
    list-style-type: none;

    &:hover .intro__list-type {
      color: #212529;
    }
  }

  &__title {
    font-weight: normal;
    color: #6b6b84;
    text-transform: capitalize;
  }
}
