.footer
  background-color: $color-linen
  color: $color-storm-gray
  padding: 2.5rem
  display: flex
  justify-content: center
  align-content: center
  border-top: 1px solid $color-cararra

  &__link
    margin-bottom: 1rem
    display: flex
    align-items: center
    text-decoration: none

  &__contact
    display: flex
    justify-content: center
    flex-direction: column

    & a[class*=bb-]
      &::before
        font-size: 32px
        margin-right: 12px

  .bb-gmail
    &::before,
    &::after
      content: 'hello'

    &::after
      content: 'codetap.academy'
