.text-image
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(3, 1fr)
  padding: 2.5rem
  margin: 2.5rem 0
  min-height: 400px
  background-position: center right
  background-repeat: no-repeat

  &__image
    background-image: var(--bg-url)
    grid-row: 1/-1
    grid-column: 2/3
    background-size: contain
    background-position: center center
    background-repeat: no-repeat

  &__title,
  &__description,
  &__button
    grid-column-start: 1
